{
  "_comment": "Copy this file to genesis-mainnet-dev.json and customize for local development",
  "limits": {
    "maxHeaderSizeInBytes": 500,
    "maxTxSizeInBytes": 100000,
    "maxBlockSizeInBytes": 5000000,
    "maxTxCountPerBlock": 100000
  },
  "bip": {
    "expirationPeriodMs": 86400000,
    "approvalThresholdBps": 5100
  },
  "networkParams": {
    "blockReward": "1000000000",
    "blockRewardPoolAddress": "0x4B5C9d7CcB07466d658c2a67740b2D3D80D3CA76",
    "initialMintForBlockReward": "10512000000000",
    "initialMintForAuthority": "8888878376800000000",
    "targetMiningTimeMs": 15000,
    "asertHalfLifeBlocks": 15,
    "minDifficulty": "1000",
    "minTxBaseFee": "100000",
    "minTxByteFee": "1000"
  },
  "authorities": [
    "0x4B5C9d7CcB07466d658c2a67740b2D3D80D3CA76"
  ],
  "genesisBlock": {
    "timestamp": 1764806403777,
    "difficulty": "1000"
  },
  "nativeToken": {
    "name": "GoldenEraCoin",
    "ticker": "GEC",
    "decimals": 9,
    "website": "https://goldenera.global",
    "logo": "https://goldenera.global/TokenTicker/logo.png",
    "userBurnable": false
  },
  "randomX": {
    "epochLength": 2048,
    "genesisKey": "GLDNR_RNDX_GENESIS_KEY",
    "batchSize": 32768
  }
}
